.flipCard {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  border: var(--border-thick);
  width: 100%;
  cursor: pointer;
  border-radius: 1em;
}

.front {
  text-align: center;
  padding: 1em 2em;
}

.back {
  text-align: center;
  padding: 1em 2em;
  width: 100%;
  border-top: var(--border-thin);
  border-top-style: dashed;
}

.nextSide {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 0.25em 0.5em;
  width: 100%;
  background-color: #f0f0f0;
  border-bottom-left-radius: 1em;
  border-bottom-right-radius: 1em;
  gap: 0.5em;
}

.nextSide svg {
  width: 1.25em;
  height: 1.25em;
}
