.deckContainer {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(15em, max-content));
  grid-template-rows: repeat(auto-fit, minmax(5em, max-content));
  grid-gap: 0.5rem;
  grid-auto-flow: dense;
}

@media (max-width: 1200px) {
  .deckContainer {
    grid-template-columns: 100%;
  }
}
