.input {
  border: none;
  border-bottom: var(--border-thin);
  box-shadow: none;
  padding: 0.25em;
  margin: 0.5em 0;
  background-color: var(--bg-color);
  font-size: medium;
}

.input:focus {
  outline: none;
}
